Data Preprocessing

In [ ]:
import pandas as pd

#Load dataset (Assume you have the titanic.csv file)
data = pd.read_csv('titanic.csv')

In [ ]:
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Check for missing values in the dataset and summarize the statistics

In [ ]:
#Check for missing values
print(data.isnull().sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#Summary Statistics
print(data.describe())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

Step 2: Handling Missing Values

Handle missing values for numerical columns e.g., 'Age' by filling with the median of the column

In [ ]:
#filling missing values in 'Age' with the median
data['Age'].fillna(data['Age'].median(), inplace=True)

Handle missing values for categorical columns (e.g., 'Embarked') by filling them with the most frequent value (mode)

In [ ]:
#Fill missing values in 'Embarked' with the most frequent value
data['Embarked'].fillna(data['Embarked'].mode()[0], inplace=True)

Drop rows with missing target variable data (if applicable such as 'Survived' column)

In [ ]:
#Drop rows with missing target values (optional)
data.dropna(subset=['Survived'], inplace=True)

Step 3: Scaling Numerical Data

Identify numerical features (e.g. Age, Fare) and apply standard scaling (z-score normalization) to normalize the values

In [ ]:
from sklearn.preprocessing  import StandardScaler

#Define the numerical columns to scale
numerical_cols = ['Age', 'Fare']

#Initialize scaler
scaler = StandardScaler()

#Scale numerical features
data[numerical_cols] = scaler.fit_transform(data[numerical_cols])

Step 4: Encoding Categorical Variables

Convert categorical variables into numerical format using one-hot encoding. Focus on columns like 'Sex' and 'Embarked'.

In [ ]:
#One-hot encode categorical columns
data = pd.get_dummies(data, columns=['Sex', 'Embarked'], drop_first=True)

Verify that categorical columns have been successfully encoded into numerical values

In [ ]:
print(data.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name       Age  SibSp  Parch  \
0                            Braund, Mr. Owen Harris -0.565736      1      0
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  0.663861      1      0
2                             Heikkinen, Miss. Laina -0.258337      0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  0.433312      1      0
4                           Allen, Mr. William Henry  0.433312      0      0

             Ticket      Fare Cabin  Sex_male  Embarked_Q  Embarked_S
0         A/5 21171 -0.502445   NaN      True       False        True
1          PC 17599  0.786845   C85     False       False       False
2  STON/O2. 3101282 -0.488854   NaN     False       False        True
3            113803  0.420730  C123     False       False        True
4            373450 -0.486337   NaN      True       False        True

Splitting Data into Training and Testing Sets

Separate the target variable ('Survived') from the feature variables

In [ ]:
X = data.drop('Survived', axis=1)
y = data['Survived']

Split the dataset into training and testing sets using an 80/20 splits

In [ ]:
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(f"Training set size: {X_train.shape}")
print(f"Training set size: {X_test.shape}")

Training set size: (712, 12)
Training set size: (179, 12)